* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
#header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding-top: 20px;
  transition: all 0.5s ease;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 45%;
}
.logo img {
  font-size: 28px;
  margin-right: 3px;
}
.lass {
  width: 500px;
  border: 1px solid rgb(32, 42, 54);
  margin-left: 55px;
}

.navbar {
  display: flex;
  background-color: rgb(32, 42, 54);
  height: 70px;
  padding: 25px 25px 0 25px;
  width: 55%;
}
.navbar a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: 52px;
  transition: all 0.5s ease;
}
.navbar a:hover {
  transform-style: flat;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 22px;
  transition: all 0.5s ease;
}
.main {
  display: flex;
  align-items: center;
}
.close,
#menu-icon {
  display: none;
}

/* .close {
  font-size: 30px;
  color: white;
  z-index: 1001;
  display: none;
  margin-right: 5px;
  cursor: pointer;
}
#menu-icon {
  font-size: 35px;
  color: white;
  z-index: 1001;
  display: none;
  margin-left: 20px;
} */

@media (max-width: 1247px) {
  .logo {
    margin-left: 20px;
    width: 25%;
  }
  .lass {
    margin-left: 25px;
  }
  .navbar {
    width: 70%;
    justify-content: flex-end;
  }
}
@media (max-width: 922px) {
  .logo {
    width: 10%;
  }
  .lass {
    display: none;
  }
  .navbar {
    width: 85%;
    justify-content: center;
  }
}
@media (max-width: 779px) {
  .close {
    display: none;
  }
  .close.visible {
    display: block;
    font-size: 30px;
    color: white;
    z-index: 1001;
    margin-right: 5px;
    cursor: pointer;
  }
  #menu-icon.hidden {
    display: none;
  }
  #menu-icon {
    font-size: 35px;
    color: white;
    z-index: 1001;
    margin-left: 20px;
    display: block;
    cursor: pointer;
  }
  .navbar.open {
    display: block;
  }
  .navbar {
    position: absolute;
    right: 1%;
    top: 80%;
    display: none;
    background: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      rgb(64, 83, 107) 100%
    );
    height: 170px;
    padding: 0;
    margin: 0;
    width: 20%;
  }
  .lists {
    margin: 15px 0;
    width: 100%;
  }
  .navbar a {
    margin: 0;
    width: 100%;
  }
  .navbar a:hover {
    border-bottom: none;
  }
  .lists:hover {
    border-right: 8px solid white;
    padding: 5px 0;
  }
}
@media (max-width: 685px) {
  .navbar {
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgb(32, 42, 54) 50%,
      rgb(64, 83, 107) 100%
    );
    width: 40%;
    text-align: right;
  }
  .navbar a {
    padding: 0 2px;
  }
}
