body{
    min-height: 100vh;
    background-image: url(/Images/destination/background-destination-desktop.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

#main{
    margin: 80px 0 0 0;
    width: 100%;
}
.image-mar{
padding: 60px 0 0 130px;

}
.span{
    color: gray;
}

.pick{
    letter-spacing: 4px;
    margin-left: 145px;
    font-size: 20px;
}
.float{
    float: right;
    margin: 60px 70px 0 0;
}

.four{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.titan{
    margin-right: 220px;
}
.moon, .mars, .europa, .titan{
    cursor: pointer;
}
.moon:hover{
    border-bottom: 3px solid white;
    padding-bottom: 6px;
    transition: all 0.3s ease-in-out;
}
.mars:hover{
    border-bottom: 3px solid white;
    padding-bottom: 6px;
    transition: all 0.3s ease-in-out;
}
.europa:hover{
    border-bottom: 3px solid white;
    padding-bottom: 6px;
    transition: all 0.3s ease-in-out;
}
.titan:hover{
    border-bottom: 3px solid white;
    padding-bottom: 6px;
    transition: all 0.3s ease-in-out;
}
.bigmars{
    font-size: 100px;
    letter-spacing: 5px;
}
.olympus{
    font-size: 18px;
    line-height: 30px;
    color: rgb(240, 225, 240);
}

.line{
    width: 420px;
    border: 1px solid rgb(32, 42, 54);

}
.distance{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(240, 225, 240);
    line-height: 25px;
}
.est{
    margin-right: 155px;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.kilo{
    font-size: 25px;
    padding-right: 30px;

}
.month{
    margin-right: 150px;
    font-size: 25px;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1280px){
    body{
        background-image: url(../Images/destination/background-destination-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px){
    body{
        background-image: url(../Images/destination/background-destination-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #menu-icon{
        display: block;
    }
    .navbar {
      position: absolute;
      top: 100%;
      right: 2%;
      width: 270px;
      height: 29vh;
      background: rgb(32, 42, 54);;
      color: rgb(32, 42, 54);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 5px 0;
        padding: 0 20px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        transform-style: flat;
        border: none;
        text-decoration: none;
        transition: all 0.50s ease;
    }
    .lass{
        width: 250px;
    }
    #main{
        width: auto;
        margin: 180px 80px 0 40px;
    }
}