body{
    background-image: url(/Images/crew/background-crew-desktop.jpg);
    background-position: cover;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

#main{
    margin: 80px 0 0 0;
    width: 100%;
}

.all{
    width: 100%;
}

.float{
    float: right;
    width: 50%;

}

.align{
    width: 50%;
    margin-left: 145px;
}

.span{
    color: gray;
}

.meet{
    letter-spacing: 4px;
    font-size: 20px;
    margin-left:145px;
}

.fly{
    font-size: 22px;
    letter-spacing: 3px;
    padding-top: 180px;
    font-weight: lighter;
}
.name{
    font-size: 45px;
    letter-spacing: 5px;
}
.ansari{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(240, 225, 240);
    padding-top: 30px;
}
.first, .second, .third, .fourth{
    width: 12px;
    height: 12px;
    background-color: grey;
    border-radius: 6px;
    display: inline-block;
    margin: 5px;
}
.first:hover{
    background-color: white;
    cursor: pointer;
}
.second:hover{
    background-color: white;
    cursor: pointer;
}
.third:hover{
    background-color: white;
    cursor: pointer;
}
.fourth:hover{
    background-color: white;
    cursor: pointer;
}


#container{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1280px){
    body{
        background-image: url(../Images/crew/background-crew-tablet.jpg);
    }
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px){
    body{
        background-image: url(../Images/crew/background-crew-mobile.jpg);
    }
    #menu-icon{
        display: block;
    }
    .navbar {
      position: absolute;
      top: 100%;
      right: 2%;
      width: 270px;
      height: 29vh;
      background: rgb(32, 42, 54);;
      color: rgb(32, 42, 54);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 5px 0;
        padding: 0 20px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        transform-style: flat;
        border: none;
        text-decoration: none;
        transition: all 0.50s ease;
    }
    .lass{
        width: 250px;
    }
    .meet{
        margin-top: 120px;
        padding-bottom: 40px;
    }
    .float{
        float: left;
    }
    .fly{
        padding-top: 650px;
    }

}