body {
  background-image: url(../Images/technology/background-technology-desktop.jpg);
  background-position: cover;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
#main {
  margin: 80px auto 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}
.space {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.all {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.span {
  color: gray;
}
.space {
  letter-spacing: 4px;
  font-size: 20px;
}
.picture {
  width: 45%;
}
.picture img {
  width: 100%;
  border-radius: 20px;
}
.number {
  width: 10%;
  padding-top: 90px;
}
.tech {
  width: 50%;
  line-height: 25px;
  padding-top: 100px;
}
.the {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 10px;
  color: rgb(240, 225, 240);
  padding-top: 10px;
}
.launch {
  font-size: 32px;
  letter-spacing: 5px;
  line-height: 35px;
}
.rocket {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: rgb(240, 225, 240);
}
.first,
.second,
.third {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 20px 10px 0 0;
  text-align: center;
  padding-top: 18px;
  font-size: 22px;
  border: 1px solid gray;
}
.first:hover,
.second:hover,
.third:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

@media (max-width: 1280px) {
  body {
    background-image: url(../Images/technology/background-technology-tablet.jpg);
  }
}

@media (max-width: 950px) {
  body {
    background-image: url(../Images/technology/background-technology-mobile.jpg);
  }
  #main {
    margin-top: 20px;
  }
  .all {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .picture {
    width: 35%;
    margin-top: 20px;
  }
  .picture img {
    width: 100%;
  }
  .number {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .launch {
    font-size: 28px;
  }
  .number,
  .tech,
  .the {
    padding-top: 20px;
  }
  .tech {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 726px) {
  .picture {
    width: 50%;
  }
}
