body {
  min-height: 100dvh;
  background-image: url(../Images/destination/background-destination-desktop.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
#main {
  margin: 80px auto 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}
.img-text-containter {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.image-containter {
  width: 35%;
}
.image-mar {
  width: 100%;
}
.pick {
  width: 50%;
  letter-spacing: 4px;
  font-size: 20px;
}
.span {
  color: gray;
}
.float {
  width: 50%;
}
.four {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.moon,
.mars,
.europa,
.titan {
  cursor: pointer;
}
.moon:hover,
.mars:hover,
.europa:hover,
.titan:hover {
  border-bottom: 3px solid white;
  padding-bottom: 6px;
  transition: all 0.3s ease-in-out;
}
.bigmars {
  font-size: 100px;
  letter-spacing: 5px;
}
.olympus {
  font-size: 18px;
  line-height: 30px;
  color: rgb(240, 225, 240);
}
.line {
  width: 100%;
  height: 3px;
  background-color: rgb(32, 42, 54);
}
.distance {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(240, 225, 240);
  line-height: 25px;
}
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.kilo {
  font-size: 25px;
}
.month {
  font-size: 25px;
}

@media (max-width: 1280px) {
  body {
    background-image: url(../Images/destination/background-destination-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1000px) {
  body {
    background-image: url(../Images/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #main {
    margin-top: 20px;
  }
  .image-containter {
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .pick {
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
  }
  .img-text-containter {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bigmars {
    font-size: 60px;
  }
  .olympus {
    line-height: 25px;
  }
  .float {
    width: 100%;
  }
  .four {
    justify-content: space-around;
  }
  .bigmars,
  .olympus {
    text-align: center;
  }
  .kilo,
  .month {
    font-size: 18px;
  }
}
