body {
  background-image: url(../Images/crew/background-crew-desktop.jpg);
  background-position: cover;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  background-repeat: no-repeat;
}

#main {
  margin: 80px auto 0 auto;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding: 0 20px;
}
.all {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.meet {
  letter-spacing: 4px;
  font-size: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.float {
  width: 45%;
}
.float img {
  width: 100%;
}
.align {
  width: 50%;
}
.span {
  color: gray;
}
.fly {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: lighter;
  padding-top: 180px;
}
.name {
  font-size: 40px;
  letter-spacing: 5px;
  margin-top: 20px;
}
.ansari {
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(240, 225, 240);
  padding-top: 30px;
  margin-bottom: 70px;
  margin-top: 20px;
}
.first,
.second,
.third,
.fourth {
  width: 12px;
  height: 12px;
  background-color: grey;
  border-radius: 6px;
  display: inline-block;
  margin: 5px;
}
.first:hover,
.second:hover,
.third:hover,
.fourth:hover {
  background-color: white;
  cursor: pointer;
}

@media (max-width: 1280px) {
  body {
    background-image: url(../Images/crew/background-crew-tablet.jpg);
  }
  .all {
    justify-content: space-around;
  }
}

@media (max-width: 1115px) {

  .float {
    width: 35%;
  }
  .float img {
    width: 100%;
  }
  .name {
    font-size: 30px;
  }
  .ansari {
    margin-bottom: 20px;
  }
  .fly {
    padding-top: 80px;
  }
  .first,
  .second,
  .third,
  .fourth {
    margin-top: 0;
  }
}
@media (max-width: 870px) {
  #main {
    margin-top: 20px;
  }
  body {
    background-image: url(../Images/crew/background-crew-mobile.jpg);
  }
  .all {
    width: 100%;
    max-width: 800px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .meet {
    margin-bottom: 15px;
  }
  .float {
    width: 100%;
  }
  .float img {
    width: 50%;
  }
  .align {
    width: 100%;
    margin-top: 0;
  }
  .fly {
    padding-top: 15px;
  }
  .name {
    margin-top: 15px;
  }
  .ansari {
    padding-top: 20px;
    margin: 20px;
  }
  .first,
  .second,
  .third,
  .fourth {
    margin: 0 5px;
    margin-top: 5px;
  }
}

@media (max-width: 370px) {
  .meet {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .fly {
    font-size: 18px;
  }
  .name {
    font-size: 22px;
  }
  .ansari {
    font-size: 16px;
  }
}
